<!-- <h1 class="{{title}}">Hello Angular {{title}}</h1>
<h1>{{dataValue()}}</h1>
<h1>{{11/3}}</h1> -->
<!-- 
<app-user-list></app-user-list>
<app-student-list></app-student-list>
<app-country-list></app-country-list> -->

<!-- <app-login></app-login> -->
<!-- <button (click)="getName('pawan sharma', 'hello world')">Click Me!</button> -->
<!-- <button (click)="getData('hello')">Click Me!</button> -->
<br />
<br />
<!-- <input type="text" #box placeholder="set keyup" (keyup)="getData(box.value)" />
<br />
<br />
<input type="text" #box1 placeholder="set keydown" (keydown)="getData(box1.value)" />
<br />
<br />
<input type="text" #box2 placeholder="blur" (blur)="getData(box2.value)" />
<br />
<br />
<input type="text" #box3 placeholder="input" (input)="getData(box3.value)" />
<br />
<br />

<h1 (mouseover)="getData('over')">Code Step9</h1>
<h1 (mouseleave)="getData('leave')">Pawan Sharma</h1> -->

<!-- <input type="text" placeholder="Enter value" name="username" #box />

<button (click)="getValue(box.name)">Clik Me!</button>
<p>the box is: {{displayVal}}</p>
 -->

 <!-- <button (click)="counter('minus')">--</button>
    <p>Count is: {{count}}</p>
    <button (click)="counter('add')">++</button> -->
    
    
    
<h1 class="heading">{{title}}</h1>
<app-login></app-login>




